$breakpoint-mobile: 375px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

.header {
  display: flex;
  height: 40px;
  padding: 15px 0;
  justify-content: center;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.2);
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 1024px;
  padding: 0 10px;

  @media only screen and(max-width: $breakpoint-tablet) {
    width: 100%;
  }

  @media only screen and(max-width: $breakpoint-mobile) {
    width: 100%;
  }
}

.header-title {
  line-height: 40px;
  margin: 0;
}

.header-nav {
  line-height: 40px;
  font-size: 18px;

  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  li {
    text-align: center;
    float: left;
    cursor: pointer;

    &:hover {
      font-weight: bold;
    }
  }
}

.content {
  margin-top: 102px;
}