.post-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.post-card {
  border: 1px solid #adadad;
  padding: 15px;
  &__title {
    font-weight: bold;
  }
  &__date {
    color: #adadad
  }
}