$breakpoint-mobile: 425px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

.post-title {
  h1 {
    font-size: 2rem;

    @media (max-width: $breakpoint-tablet) {
      font-size: 28px;
    }
  
    @media (max-width: $breakpoint-mobile) {
      font-size: 24px;
    }
  }
  
}

.post-address {
  color: #a8a8a8;
  padding-bottom: 20px;
  border-bottom: 1px solid #d2d2d2;
  div {
    margin-left: 15px;

    @media (max-width: $breakpoint-mobile) {
      margin-left: 0;
    }
  }
}

.post-content {
  margin-top: 60px;
  font-size: 24px;

  @media (max-width: $breakpoint-mobile) {
    font-size: 21px;
  }
}

.post-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  @media (max-width: 1023px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  @media (max-width: calc($breakpoint-tablet - 1px)) {
    grid-template-columns: auto;
  }
}

.post-card {
  background-color: #fff;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s;
  height: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

  @media (max-width: calc($breakpoint-tablet - 1px)) {
    height: 200px;
  }
  
  &:hover {
    transform: translate(0, -10px);
  }

  &__title {
    font-weight: bold;
    font-size: 21px;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;  
  }
  
  &__date {
    color: #adadad
  }
}